#navbar{
    
    flex-direction: column;
    padding: 0.5rem 0rem;
    overflow: hidden;
}
#categories .items{
    flex-direction: column;

}
.items .item{
    width: 100%;
}
.choices .choice .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }